:root {

  --font-size-default: 14px;
  /* --font-size-big: 40px; */
  --font-size-big: 24px;
  /* --font-size-medium: 24px */
  --font-size-medium: 20px;
  /* --font-size-content: 19.2px */
  --font-size-content: 17px;
  --font-size-small: 12px;
  --font-size-subtitle: 15px;
  --font-size-reason: 16px;
  /* --font-size-default: 16px; */
  /* --font-size-default: 16px; */
  --orange: #d2691e;
}
*{
  margin: 0;
  padding: 0;
  border: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: var(--font-size-default);
  font-variant: tabular-nums;
  line-height: 1.5715;
}
.bg-gray{
  background-color: rgb(245, 245, 245) !important;
}
.font-size-small{
  font-size: var(--font-size-small);
}
.font-size-big{
  font-size: var(--font-size-big);
}
.font-size-subtitle{
  font-size: var(--font-size-subtitle);
}
.font-size-medium{
  font-size: var(--font-size-medium);
}
body{
  position: relative;
  width: 100%;
}
.btn-orange{
  background-color: var(--orange)!important;
  color: #fff !important;
  border-radius: 0% !important;
}
.btn-transparent{
  background-color: transparent !important;
  color: #fff !important;
  border-radius: 0% !important;
  border: 1px solid white !important;
}
header{
  position: fixed;
  width: 100%;
  /* padding: 10px 8%; */
  top:0;
  z-index: 100;
}
nav{
  background-color: #fff;
}
.custom-form-header{
  border-bottom: 1px solid black;
  position: relative;
}
.custom-form-header img{
  position: absolute;
  right: 0;
  object-fit: cover;
  top: 35%;
}
.nav-item-cart{
  position: relative;
}
.nav-item-cart .quantity-cart{
  background-color: red;
  color: #fff;
  width: 16px;
  height: 16px;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  /* right: -7px;
  top: 1px; */
  top:1px;
  left: 11px;
}
.carousel-custom{
  margin-top: 45px;
  position: relative;
}
.carousel-item img{
  width: 100%;
  object-fit: cover;
  height: 300px;
  filter: brightness(50%);
}
.carousel-custom .carousel-description{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.post p{
  font-size: var(--font-size-content);
}
.video .video-background{
  object-fit: cover;
  width: 250px;
  height: 200px;
}
.video{
  position: relative;
}
.video div{
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%,-50%);
}
.step-book .icon-step-book{
  width: 40px;
  height: 40px;
  padding: 8px 0;
  border-radius: 50%;
  position: relative;
  margin: 3px  auto;
}
.step-number{
  background-color: red;
  color: #fff;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  font-size: var(--font-size-small);
  left: 29%;
  position: absolute;
}
.booking{
  width: 100%;
  height: 450px;
  background-image: url(https://intern-project-chi.vercel.app/static/media/banner.3d2794dc83c9f6633434.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  filter: brightness(50%);
}
.booking-info{
  top: 10%;
}

.choose-date input{
  background-color: transparent;
  color: white;
}
input[type="date"]::-webkit-calendar-picker-indicator{
  content: url(img/186407_arrow_up_icon.png);
}
.contact{
  background-color: rgb(197, 164, 133);
}
.menu{
  width: 100%;
    height: 400px;
    overflow: hidden; 
}
.menu img{
  filter: brightness(50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menu .description{
  top: 10%;
  left: 50%;
  transform: translate(-50%,0);
}
.menu:hover > img {
  transform: scale(1.2);
}
.list-reason .reason{
  flex-basis: 48%;
  gap: 2%;
}
.list-reason .reason img{
  width: 100%;
  height: 50%;
  object-fit: cover;
}
.list-reason .reason h4{
  font-size: var(--font-size-reason);
  font-weight: bold;
}
footer{
  position: relative;
}
footer .bg-img{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  filter: brightness(50%);
}
footer .content, footer .credit{
  position: relative;
  z-index: 10;
}
footer .method-payment img{
  width: 40px;
  height: 40px;
}
footer .credit{
  border-top: 1px solid white;
}
.credit-right img{
  width: 80px;
}
.active{
  color: var(--orange) !important;
  border-bottom: 1px solid var(--orange) !important;
}
/* @media all and (max-width: 1024px) and (min-width: 768px) {
  :root {
    --font-size-big: 40px;
    --font-size-medium: 24px;
    --font-size-content: 19.2px;
  }

  .video .video-background {
    height: 535px;
  }

  .service, .contact{
    flex-basis: 50%;
  }
  .list-reason .reason img{
    height: 80%;
  }
} */
@media all  and (min-width: 576px) {
  :root {
    --font-size-big: 40px;
    --font-size-medium: 24px;
    --font-size-content: 19.2px;
  }

  .video .video-background {
    height: 535px;
    width: 100%;
  }

  .service, .contact{
    flex-basis: 50%;
  }
  .list-reason .reason img{
    height: 80%;
  }
}

@media all  and (min-width: 992px) {
  .video .video-background {
    height: 300px;
  }
  .booking{
    height: 250px;
  }
  .menu{
    height: 100%;
  }
  .list-reason .reason{
    flex-basis: 22%;
  }
}